@charset "utf-8";

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    }



td{
    border: 3px solid rgb(237, 28, 143);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.numero{
    text-align: left;
}