@charset "utf-8";

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

table{
    width: 500px;
    border-collapse: collapse;
    }

tr.linha{
    background-color: aqua;
}

td.dado{
    background-color: blueviolet;
}

td{
    border: 3px solid rgb(237, 28, 143);
    padding: 10px;
}